body {
    background-color: rgb(58, 70, 154);
    font-family:'Times New Roman', Times, serif;
    color: azure;
    justify-content: center;
    font-size: 35px;
}

h1 {
    margin-left: 340px;
}

h2 {
    margin-left: 540px;
}

.imagem {
    margin-left: 600px;  
}

#formulario {
    margin-left: 580px;    
}

button {
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 115px; 
    margin-top: 0%;
}

#nomeUsuario {
    margin-left: 620px;
    margin-top: 20px;
}

#nome {
    margin-left: 60px;   
}